<cd-loading-panel *ngIf="loading"
                  i18n>Loading...</cd-loading-panel>
<div class="col-sm-10"
     *ngIf="!loading">
  <form name="osdForm"
        #formDir="ngForm"
        [formGroup]="osdForm"
        novalidate>
    <div class="card">
      <div i18n="form title|Example: Create Pool@@formTitle"
           class="card-header">{{ action | titlecase }} {{ resource | upperFirst }}</div>
      <div class="card-body">
        <fieldset>
          <!-- Data devices button -->
          <div class="form-group row">
            <label i18n
                    class="col-sm-3 col-form-label"
                    for="dataDevices">Data devices</label>
            <div class="col-sm-9">
              <ng-container *ngIf="dataDevices.length === 0;else blockClearDataDevices">
                <button type="button"
                        class="btn btn-light"
                        (click)="showDataDevicesModal()"
                        [disabled]="freeDevices.length === 0">
                  <i [ngClass]="[icons.add]"></i>
                  <ng-container i18n>Add</ng-container>
                </button>
              </ng-container>
              <ng-template #blockClearDataDevices>
                <button type="button"
                        class="btn btn-light"
                        (click)="clearDataDevices()">
                  <i [ngClass]="[icons.destroy]"></i>
                  <ng-container i18n>Clear</ng-container>
                </button>
              </ng-template>
            </div>
          </div>

          <!-- Data devices table -->
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9"
                 *ngIf="dataDevices.length !== 0">
              <cd-table [data]="dataDevices"
                        [columns]="columns"
                        identifier="uid"
                        forceIdentifier="true"
                        autoReload="0">
                <div class="table-filters form-inline">
                  <div class="form-group filter" *ngFor="let filter of dataDeviceFilters">
                    <label class="col-form-label">{{ filter.label }}: </label>
                    <select class="custom-select" disabled>
                      <option selected>{{ filter.value }}</option>
                    </select>
                  </div>
                </div>
              </cd-table>
            </div>
          </div>

        </fieldset>

        <!-- Shared devices -->
        <fieldset>
          <legend i18n>Shared devices</legend>

          <!-- WAL devices button -->
          <div class="form-group row">
            <label i18n
                    class="col-sm-3 col-form-label"
                    for="walDevices">WAL devices</label>
            <div class="col-sm-9">
              <ng-container *ngIf="walDevices.length === 0;else blockClearWalDevices">
                <button type="button"
                        class="btn btn-light"
                        (click)="showWalDevicesModal()"
                        [disabled]="freeDevices.length === 0 || dataDevices.length === 0">
                  <i [ngClass]="[icons.add]"></i>
                  <ng-container i18n>Add</ng-container>
                </button>
              </ng-container>
              <ng-template #blockClearWalDevices>
                <button type="button"
                        class="btn btn-light"
                        (click)="clearWalDevices()">
                  <i [ngClass]="[icons.destroy]"></i>
                  <ng-container i18n>Clear</ng-container>
                </button>
              </ng-template>
            </div>
          </div>

          <!-- WAL devices table -->
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9"
                 *ngIf="walDevices.length !== 0">
              <cd-table [data]="walDevices"
                        [columns]="columns"
                        identifier="uid"
                        [forceIdentifier]="true"
                        [autoReload]="0">
                <div class="table-filters form-inline">
                  <div class="form-group filter" *ngFor="let filter of walDeviceFilters">
                    <label class="col-form-label">{{ filter.label }}: </label>
                    <select class="custom-select" disabled>
                      <option selected>{{ filter.value }}</option>
                    </select>
                  </div>
                </div>
              </cd-table>
            </div>
          </div>

          <!-- WAL slots -->
          <div class="form-group row"
               *ngIf="walDevices.length !== 0">
            <label i18n
                    class="col-sm-3 col-form-label"
                    for="walSlots">WAL slots</label>
            <div class="col-sm-9">
              <input class="form-control"
                    id="walSlots"
                    name="walSlots"
                    type="number"
                    min="0"
                    formControlName="walSlots">
            </div>
          </div>

          <!-- DB devices button -->
          <div class="form-group row">
            <label i18n
                    class="col-sm-3 col-form-label"
                    for="dbDevices">DB devices</label>
            <div class="col-sm-9">
              <ng-container *ngIf="dbDevices.length === 0;else blockClearDBDevices">
                <button type="button"
                        class="btn btn-light"
                        (click)="showDbDevicesModal()"
                        [disabled]="freeDevices.length === 0 || dataDevices.length === 0">
                  <i [ngClass]="[icons.add]"></i>
                  <ng-container i18n>Add</ng-container>
                </button>
              </ng-container>
              <ng-template #blockClearDBDevices>
                <button type="button"
                        class="btn btn-light"
                        (click)="clearDbDevices()">
                  <i [ngClass]="[icons.destroy]"></i>
                  <ng-container i18n>Clear</ng-container>
                </button>
              </ng-template>
            </div>
          </div>

          <!-- DB devices table -->
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9"
                 *ngIf="dbDevices.length !== 0">
              <cd-table [data]="dbDevices"
                        [columns]="columns"
                        identifier="uid"
                        [forceIdentifier]="true"
                        [autoReload]="0">
                <div class="table-filters form-inline">
                  <div class="form-group filter" *ngFor="let filter of dbDeviceFilters">
                    <label class="col-form-label">{{ filter.label }}: </label>
                    <select class="custom-select" disabled>
                      <option selected>{{ filter.value }}</option>
                    </select>
                  </div>
                </div>
              </cd-table>
            </div>
          </div>

          <!-- DB slots -->
          <div class="form-group row"
               *ngIf="dbDevices.length !== 0">
            <label i18n
                    class="col-sm-3 col-form-label"
                    for="dbSlots">DB slots</label>
            <div class="col-sm-9">
              <input class="form-control"
                    id="dbSlots"
                    name="dbSlots"
                    type="number"
                    min="0"
                    formControlName="dbSlots">
            </div>
          </div>

        </fieldset>


        <!-- Configuration -->
        <fieldset>
          <legend i18n>Configuration</legend>

            <!-- Features -->
            <div class="form-group row"
                formGroupName="features">
              <label i18n
                    class="col-sm-3 col-form-label"
                    for="features">Features</label>
              <div class="col-sm-9">
                <div class='custom-control custom-checkbox'
                     *ngFor="let feature of featureList">
                  <input type="checkbox"
                        class="custom-control-input"
                        id="{{ feature.key }}"
                        name="{{ feature.key }}"
                        formControlName="{{ feature.key }}">
                  <label class="custom-control-label"
                        for="{{ feature.key }}">{{ feature.desc }}</label>
                </div>
              </div>
            </div>
        </fieldset>

        
        <!-- Debug -->
        <div *ngIf="debug2">
          <fieldset>
            <legend i18n>Debug</legend>

            <!-- For Debug: Free devices table -->
            <div class="form-group row">
              <label i18n
                    class="col-sm-3 col-form-label"
                    for="freeDevices">Free devices</label>
              <div class="col-sm-9">
                <cd-table [data]="freeDevices"
                          [columns]="columns"
                          identifier="uid"
                          forceIdentifier="true"
                          autoReload="0">
                </cd-table>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
      <div class="card-footer">
        <div class="button-group text-right">
          <cd-submit-button (submitAction)="submit()"
                            i18n="form action button|Example: Create Pool@@formActionButton"
                            [form]="formDir"
                            [disabled]="dataDevices.length === 0">Preview</cd-submit-button>
          <cd-back-button></cd-back-button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-2 dg-container" *ngIf="!loading && debug">
  <h3>DriveGroup</h3>
  <pre>{{ driveGroupSpec | json }}</pre>
</div>