<cd-loading-panel *ngIf="loading"
                  i18n>Loading...</cd-loading-panel>
<div class="col-sm-10"
     *ngIf="!loading">
  <form name="form"
        #formDir="ngForm"
        [formGroup]="form"
        novalidate>
    <div class="card">
      <div i18n
           class="card-header">{{ action | titlecase }} {{ resource | upperFirst }}</div>
      <div class="card-body">
        <fieldset>
          <cd-osd-device-selection-groups #dataDeviceSelectionGroups
                                          name="Primary"
                                          type="data"
                                          [availDevices]="availDevices"
                                          [canSelect]="availDevices.length !== 0"
                                          (selected)="onDevicesSelected($event)"
                                          (cleared)="onDevicesCleared($event)">
          </cd-osd-device-selection-groups>
        </fieldset>

        <!-- Shared devices -->
        <fieldset>
          <legend i18n>Shared devices</legend>

          <!-- WAL devices button and table -->
          <cd-osd-device-selection-groups #walDeviceSelectionGroups
                                          name="WAL"
                                          type="wal"
                                          [availDevices]="availDevices"
                                          [canSelect]="dataDeviceSelectionGroups.devices.length !== 0"
                                          (selected)="onDevicesSelected($event)"
                                          (cleared)="onDevicesCleared($event)">
          </cd-osd-device-selection-groups>

          <!-- WAL slots -->
          <div class="form-group row"
               *ngIf="walDeviceSelectionGroups.devices.length !== 0">
            <label i18n
                   class="col-sm-3 col-form-label"
                   for="walSlots">
              <ng-container i18n>WAL Slots</ng-container>
              <cd-helper>
                <span i18n>How many OSDs per WAL device.</span>
                <br>
                <span i18n>Specify 0 to let Orchestrator backend decide it.</span>
              </cd-helper>
            </label>
            <div class="col-sm-9">
              <input class="form-control"
                     id="walSlots"
                     name="walSlots"
                     type="number"
                     min="0"
                     formControlName="walSlots">
              <span class="invalid-feedback"
                    *ngIf="form.showError('walSlots', formDir, 'min')"
                    i18n>Value should be greater than or equal to 0</span>
            </div>
          </div>

          <!-- DB devices button and table -->
          <cd-osd-device-selection-groups #dbDeviceSelectionGroups
                                          name="DB"
                                          type="db"
                                          [availDevices]="availDevices"
                                          [canSelect]="dataDeviceSelectionGroups.devices.length !== 0"
                                          (selected)="onDevicesSelected($event)"
                                          (cleared)="onDevicesCleared($event)">
          </cd-osd-device-selection-groups>

          <!-- DB slots -->
          <div class="form-group row"
               *ngIf="dbDeviceSelectionGroups.devices.length !== 0">
            <label i18n
                   class="col-sm-3 col-form-label"
                   for="dbSlots">
              <ng-container i18n>DB Slots</ng-container>
              <cd-helper>
                <span i18n>How many OSDs per DB device.</span>
                <br>
                <span i18n>Specify 0 to let Orchestrator backend decide it.</span>
              </cd-helper>
            </label>
            <div class="col-sm-9">
              <input class="form-control"
                     id="dbSlots"
                     name="dbSlots"
                     type="number"
                     min="0"
                     formControlName="dbSlots">
              <span class="invalid-feedback"
                    *ngIf="form.showError('dbSlots', formDir, 'min')"
                    i18n>Value should be greater than or equal to 0</span>
            </div>
          </div>
        </fieldset>

        <!-- Configuration -->
        <fieldset>
          <legend i18n>Configuration</legend>

          <!-- Features -->
          <div class="form-group row"
               formGroupName="features">
            <label i18n
                   class="col-sm-3 col-form-label"
                   for="features">Features</label>
            <div class="col-sm-9">
              <div class="custom-control custom-checkbox"
                   *ngFor="let feature of featureList">
                <input type="checkbox"
                       class="custom-control-input"
                       id="{{ feature.key }}"
                       name="{{ feature.key }}"
                       formControlName="{{ feature.key }}">
                <label class="custom-control-label"
                       for="{{ feature.key }}">{{ feature.desc }}</label>
              </div>
            </div>
          </div>
        </fieldset>

        
        <!-- Debug -->
        <div *ngIf="debug">
          <fieldset>
            <legend i18n>Debug</legend>

            <!-- For Debug: Free devices table -->
            <div class="form-group row">
              <label i18n
                     class="col-sm-3 col-form-label"
                     for="availDevices">Available devices</label>
              <div class="col-sm-9">
                <cd-inventory-devices [devices]="availDevices"
                                      [hiddenColumns]="['available', 'osd_id']">
                </cd-inventory-devices>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
      <div class="card-footer">
        <div class="button-group text-right">
          <cd-submit-button (submitAction)="submit()"
                            i18n
                            [form]="formDir"
                            [disabled]="dataDeviceSelectionGroups.devices.length === 0">Preview</cd-submit-button>
          <cd-back-button></cd-back-button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-2 dg-container" *ngIf="!loading && debug">
  <h3>DriveGroup</h3>
  <pre>{{ driveGroup.spec | json }}</pre>
</div>