<cd-table [data]="filterInDevices"
          [columns]="columns"
          identifier="uid"
          [forceIdentifier]="true"
          columnMode="flex"
          [autoReload]="false">
  <div class="table-filters form-inline"
       *ngIf="preFilters.length !== 0 || filters.length !== 0">
    <div class="form-group filter tc_preFilter"
         *ngFor="let filter of preFilters">
      <label class="col-form-label"><span>{{ filter.label }}</span><span>: </span></label>
      <select class="custom-select">
        <option>{{ filter.formatValue }}</option>
      </select>
    </div>
    <div class="form-group filter tc_filter"
         *ngFor="let filter of filters">
      <label class="col-form-label"><span>{{ filter.label }}</span><span>: </span></label>
      <select class="custom-select"
              [(ngModel)]="filter.value"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onFilterChange()"
              [disabled]="filter.disabled">
        <option *ngFor="let opt of filter.options"
                [value]="opt.value">{{ opt.formatValue }}</option>
      </select>
    </div>
    <div class="widget-toolbar tc_refreshBtn"
         *ngIf="filters.length !== 0">
      <button type="button" title="Reset filters" class="btn btn-light" (click)="onFilterReset()">
        <span [ngClass]="[icons.stack]">
          <i [ngClass]="[icons.filter, icons.stack2x]"></i>
          <i [ngClass]="[icons.destroy, icons.stack1x]" style="margin-left: 8px; margin-top: 5px;"></i>
        </span>
      </button>
    </div>
  </div>
</cd-table>